main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    list-style: none;
}

@media (max-width: 37.5em) {
    main ul {
        display: flex;
        flex-direction: column;

    }
}